<style>
    body{
        overflow-x: hidden;
    }
</style>
<div>
    @*PAGE 9*@
    <div style="margin-top:200px;">
        <center>
            <h1>
                SI QUERÉS SACAR UNA FOTO SCANEÁ EL CÓDIGO QR DESDE TU CELULAR
            </h1>
            <div style="margin-top:200px;">
                <img class="img" src="/img/qr.png" style="width: 253px;height: 248px;" />
                <br>
            </div>
        </center>
    </div>

    @*PAGE 4*@
    <div id="page4" style="display:none !important;">
        <div class="column-flex" style="display:flex;flex-direction:row;margin-top:10%;justify-content: center;">
            <input type="hidden" id="video" value="@ViewBag.video">
            <div class="regaloCustom" style="flex-direction:column;display: flex;align-items: flex-start;">
                <img src="/img/RegalosCustom.png" style="width: 331px;height: 360px;margin-left: -40px;" class="img-share img-fluid" alt="" />
                <div class="p-content" style="margin-top: 50px;max-width: 90%;">
                    <p style="font-size:39px" class="one-line-title ">Hola Fede,</p>
                    <p style="font-size:39px" class="two-lines one-line-title">Lucas tiene una sorpresa</p>
                    <p style="font-size:39px" class="one-line-title ">para vos!</p>
                </div>
            </div>

            <div style="flex-direction:column" class="share-data">
                <div class="container-img" style="">
                    <img id="fotoTomada" src="/img/amigos.png" style="object-fit: contain;width: 100%;height: 100%;" class="img-fluid amigos-foto" alt="">
                </div>
                <textarea style="display: flex;flex: none;margin-top: 15px;border:none;color: #404040c9;" class="font-openSans rectangulo img-fluid">Fede,
felicitaciones por tus primeros 40 años.
Hasta los 120 amigo!!
                </textarea>
                <div style="padding-bottom: 0px;float: right;margin-top: 20px;align-self: self-end;" class="btn-center btn color-white">COMPARTIR</div>
            </div>
        </div>
    </div>
    @*PAGE 20*@
    <img class="logo" src="/img/dearx.png" style="width: 122px;height: 54px;position: absolute;bottom: 0;right: 0;" />

</div>
<script>
    function ocultarVista3() {
        document.getElementById("page3").style.display = "none";
        document.getElementById("page17").style.display = '';
    }
    function ocultarVista17() {
        document.getElementById("page17").style.display = "none";
        document.getElementById("page20").style.display = '';
    }
    function ocultarVista20() {
        document.getElementById("page20").style.display = "none";
        document.getElementById("page24").style.display = '';
    }
    function ocultarVista24() {
        document.getElementById("page20").style.display = "none";
        document.getElementById("page24").style.display = '';
    }
</script>