
<div>
    @*PAGE 9*@
    <div style="margin-top:316px;">
        <div>
            <div class="column">
                <h1 class="elegirfoto">Elegí la foto</h1>
                <h1 class="elegirfoto">desde tu computadora</h1>
            </div>
            <div>
                <div class="btn btn-elegirfoto" data-toggle="modal" data-target="modal" onclick="myFunction()">
                    <div class="img-content">
                        <img style="width: 39px;height: 35px;" class="img" src="/img/icon-foto.png" />
                        <p style="top: -9px;letter-spacing: 1.3px;" class="btn-text">ELEGIR FOTO</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="spacing">
            <p>SI QUERÉS SACAR UNA FOTO SCANEÁ EL CÓDIGO QR DESDE TU CELULAR</p>
            <img class="img" src="/img/qr.png" />
        </div>
    </div>

    @*PAGE 4*@


    @*PAGE 20*@


</div>
<script>
    function ocultarVista3() {
        document.getElementById("page3").style.display = "none";
        document.getElementById("page17").style.display = '';
    }
    function ocultarVista17() {
        document.getElementById("page17").style.display = "none";
        document.getElementById("page20").style.display = '';
    }
    function ocultarVista20() {
        document.getElementById("page20").style.display = "none";
        document.getElementById("page24").style.display = '';
    }
    function ocultarVista24() {
        document.getElementById("page20").style.display = "none";
        document.getElementById("page24").style.display = '';
    }
</script>