
<div>
    @*PAGE 9*@
    <div style="margin-top:200px;">
        <center>
            <h1>
                SI QUERÉS SACAR UNA FOTO SCANEÁ EL CÓDIGO QR DESDE TU CELULAR
            </h1>
            <div style="margin-top:200px;">
                <img class="img" src="/img/qr.png" style="width: 253px;height: 248px;" />
                <br>
            </div>
        </center>
    </div>

    @*PAGE 4*@
    <div id="page4" style="display:none !important;">
        <div class="column-flex" style="display:flex;flex-direction:row;margin-top:300px;justify-content: space-between;">

            <div style="flex-direction:column">
                <img src="/img/RegalosCustom.png" style="width: 331px;height: 360px;left: -790px;top: -150px;" class="img-fluid" alt="" />
                <div style="margin-left: -270px;">
                    <p style="font-size:39px" class="one-line-title titulo-sorpresa regalo-titulo">Hola Fede,</p>
                    <p style="font-size:39px" class="one-line-title titulo-sorpresa regalo-titulo">Martín tiene una sorpresa</p>
                    <p style="font-size:39px" class="one-line-title titulo-sorpresa regalo-titulo">para vos!</p>
                </div>
            </div>

            <div style="flex-direction:column">
                <img src="/img/amigos.png" style="top: -160px;left: -400px;width: 623px;height: 440px;" class="img-fluid" alt="" />
                <textarea style="display: flex;flex: none;margin-top: 15px;" class="rectangulo img-fluid">Fede, 
    felicitaciones por tus primeros 40 años.
    Hasta los 120 amigo!!
                </textarea>
                <div style="float: right;margin-top: 10px;" class="btn-center btn color-white">COMPARTIR</div>
            </div>


        </div>
    </div>
    @*PAGE 20*@


</div>
<script>
    function ocultarVista3() {
        document.getElementById("page3").style.display = "none";
        document.getElementById("page17").style.display = '';
    }
    function ocultarVista17() {
        document.getElementById("page17").style.display = "none";
        document.getElementById("page20").style.display = '';
    }
    function ocultarVista20() {
        document.getElementById("page20").style.display = "none";
        document.getElementById("page24").style.display = '';
    }
    function ocultarVista24() {
        document.getElementById("page20").style.display = "none";
        document.getElementById("page24").style.display = '';
    }
</script>