
<div>
    @*PAGE 3*@
    <div id="page3">
    <div style="margin-top:60px;flex-direction: column;display: flex;">
        <img src="/img/RegalosCustom.png" style="width: 200px;height: 235px;" class="center-img" alt="" />
            <div style="margin-top:40px;align-self: center;text-align-last: center;">
            <p class="one-line">Elegí como</p>
            <p class="one-line">querés acompañar </p>
            <p class="one-line">a tu regalo!</p>
        </div>
        <div style="top: 570px;" class="column center-button">
            <div style="width: 174px;height: 54px;margin-top: 240px;display: block;" class="btn btn-camera">
                <div style="margin-top: -10px;font-size: 16px;" onclick="ocultarVista3()">
                    <img class="img-camera" style="width: 35px;height: 31px;margin-top: -4px;" src="/img/icon-foto.png" />

                    <div class="img-text img-button">
                        FOTO
                    </div>
                </div>
            </div>
            <div style="width: 174px;height: 54px;margin-top: 45px;" class="btn btn-camera">
                <div style="margin-top: -10px;font-size: 16px;" onclick="ocultarVista3()">
                    <img class="img-video img " src="/img/icon-video.png" style="width: 41px;height: 28px;margin-left: 10% !important;" />
                    <div class="img-text img-button">
                        VIDEO
                    </div>
                </div>
            </div>
        </div>
        <img class="logo" src="/img/dearx.png" style="width: 122px;height: 54px;align-self: flex-end;margin-top: 90%;margin-right: 40px;" />
    </div>
    </div>
    
    @*PAGE 17*@
    <div id="page17" style="display:none !important; margin-top:60px;align-self: center;">
        <img src="/img/fashionvideo.png" style="width: 356px;height: 574px;" class="center-img" alt="" />
        <div style="text-align: -webkit-center;" class="confirm">
            <button class="btn textButton btn-white">Cancelar</button>
            <button onclick="ocultarVista17()" style="margin-left: 40px;" class="btn textButton color-white">Siguiente</button>
        </div>

        <img class="logo" src="/img/dearx.png" style="width: 122px;height: 54px;margin-right: 40px;margin-top: 60px;float: right;" />
    </div>
    
    @*PAGE 20*@
    <div id="page20" style="display:none !important;">
        <div style="top: 140px;" class="row">
            <div class="center">
                <h1 class="center personalizar-titulo">Personalizá tu mensaje</h1>
                <div class="center">
                    <input placeholder="De:" class="input-personalizar" />
                    <input placeholder="Para:" class="input-personalizar" />
                    <input placeholder="Mensaje (Opcional)" class="mensaje-opcional input-personalizar" />
                </div>
                <div class="confirm">
                    <button class="textButton btn btn-white">CANCELAR</button>
                    <button onclick="ocultarVista20()" style="margin-left:20px;" class="textButton btn color-white">CONFIRMAR</button>
                </div>
            </div>
        </div>
        <img class="logo" src="/img/dearx.png" style="width: 122px;height: 54px;margin-right: 60px; margin-top: 360px;float: right;" />
    </div>
    
    @*PAGE 24*@
    <div id="page24" style="display:none !important; margin-top:60px;flex-direction: column;display: flex;">
        <img src="/img/regalo3.png" style="width: 259px;height: 313px;" class="center-img" alt="" />
        <div style="margin-top:40px;align-self: center;">
            <p class="one-line">Listo!</p>
            <p class="one-line">Tu mensaje</p>
            <p class="one-line">ya esta confirmado.</p>
        </div>
        <img class="logo" src="/img/dearx.png" style="width: 122px;height: 54px;align-self: flex-end;margin-top: 330px;margin-right: 40px;" />
    </div>
    
    @*PAGE 5*@
    <div id="page5" style="display:none !important;"></div>
</div>
<script>
    function ocultarVista3(){
        document.getElementById("page3").style.display = "none";
        document.getElementById("page17").style.display = '';
    }
    function ocultarVista17() {
        document.getElementById("page17").style.display = "none";
        document.getElementById("page20").style.display = '';
    }
    function ocultarVista20() {
        document.getElementById("page20").style.display = "none";
        document.getElementById("page24").style.display = '';
    }
    function ocultarVista24() {
        document.getElementById("page20").style.display = "none";
        document.getElementById("page24").style.display = '';
    }
</script>