@{
    ViewData["Title"] = "Privacy Policy";
}
<link rel="stylesheet" href="../../css/regalo.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">

<div class="row">
    <div class="center">
        <h1 class="center personalizar-titulo">Personalizá tu mensaje</h1>
        <div class="center">
            <input placeholder="De:" class="input-personalizar" />
            <input placeholder="Para:" class="input-personalizar" />
            <input placeholder="Mensaje (Opcional)" class="mensaje-opcional input-personalizar" />
        </div>
        <div class="confirm">
            <button class="textButton btn-white">Cancelar</button>
            <button class="textButton color-white">Confirmar</button>
        </div>
    </div>
</div>

