@{
    ViewData["Title"] = "Privacy Policy";
}
<link rel="stylesheet" href="../../css/regalo.css">
@*<link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">*@
<div>
    <div class="top">
        <div>
            <h1 class="regalo-titulo">Elegí como querés acompañar a tu regalo!</h1>
            <div class="btn-regalo">
                <button class="btn ">
                    <img class="img-camera img" src="/img/icon-foto.png" />
                    <div class="img-text">
                        <p class="btn-text">FOTO</p> 
                    </div>
                </button>
               <button class="btn btn-space">
                    <img class="img-video img " src="/img/icon-video.png" />
                    <div class="img-text">
                        <p class="btn-text">VIDEO</p>
                    </div>
               </button>
            </div>
        </div>@*
        <img src="/img/regalo1.png" class="foto-regalo" alt="" />
        <img src="/img/regalo2.png" class="foto-regalo2" alt="" />*@
        <img src="/img/Regalos.png" class="foto-regalo2" alt="" />
    </div>
</div>

