
<div style="margin-top:60px;">
    <img src="/img/RegalosCustom.png" style="width: 183px;height: 245px;" class="center-img" alt="" />
    <div style="margin-top:40px;margin-left:15%;">
        <p class="one-line">Elegí como</p>
        <p class="one-line">querés acompañar </p>
        <p class="one-line">a tu regalo!</p>
    </div>
    <div class="column center-button">
        <div style="width: 174px;height: 54px;margin-top: 200px;display: block;" class="btn btn-camera">
            <div style="margin-top: -10px;font-size: 16px;">
                <img class="img-camera" style="width: 35px;height: 31px;margin-top: -4px;" src="/img/icon-foto.png" />

                <div class="img-text img-button">
                    FOTO
                </div>
            </div>
        </div>
        <div style="width: 174px;height: 54px;margin-top: 45px;" class="btn btn-camera">
            <div style="margin-top: -10px;font-size: 16px;">
                <img class="img-video img " src="/img/icon-video.png" style="width: 41px;height: 28px;margin-left: 10% !important;" />
                <div class="img-text img-button">
                    VIDEO
                </div>
            </div>
        </div>
    </div>
    <img class="logo" src="/img/dearx.png" style="width: 122px;height: 54px;float: right;margin-top: 60%;" />
</div>