<style>
    body {
        overflow-x: hidden;
    }
</style>

<div id="page7">
    <div style="margin-top: 50px;flex-direction: column;display: flex;align-items: center;">
    <img src="/img/RegalosCustom.png" style="width: 200px;height: 235px;" alt="" />
    <div style="margin-top:40px;align-self: center;">
        <p style="font: normal normal bold 30px/37px Montserrat;line-height: 20px;" class="one-line-title">Podés sacar</p>
        <p style="font: normal normal bold 30px/37px Montserrat;line-height: 20px;" class="one-line-title">una foto o elegir</p>
        <p style="font: normal normal bold 30px/37px Montserrat;line-height: 20px;" class="one-line-title">la que más te guste</p>
    </div>
    <div class="column">
        <div style="width: 174px;height: 54px;margin-top: 40px;display: flex;flex-direction: row;place-content: center;" class="btn btn-camera">
            <label style="display: flex;flex-direction: row;align-items: center;">
                <img class="img-camera" style="width: auto;height: 28px;" src="/img/icon-foto.png" />

                <div style="letter-spacing: 0px;" class="img-text img-button">
                    ELEGIR FOTO
                </div>
            </label>
        </div>
        <div style="width: 174px;height: 54px;margin-top: 40px;display: flex;flex-direction: row;place-content: center;" class="btn btn-camera">
            <label style="display: flex;flex-direction: row;align-items: center;">
                <img class="img-camera" style="width: auto;height: 28px;" src="/img/icon-foto.png" />

                <div style="letter-spacing: 0px;" class="img-text img-button">
                    SACAR FOTO
                </div>
            </label>
        </div>
    </div>
</div>
</div>
<img class="logo" src="/img/dearx.png" style="width: 122px;height: 54px;position: absolute;bottom: 0;right: 0;" />
