
<link rel="stylesheet" href="../../css/regalo.css">

<div class="row">
    <div>
        <div class="column">
            <h1 class="regalo-titulo mensaje-confirmacion">Listo!</h1>
            <h1 style="top: -70px;" class="regalo-titulo mensaje-confirmacion">Tu mensaje </h1>
            <h1 style="top: -140px;" class="regalo-titulo mensaje-confirmacion">ya está confirmado.</h1>
        </div>
        <div class="btn-regalo">
        </div>
    </div>
    <img src="/img/regalo3.png" style="width: 389px;height: 471px;top: -700px; left: -100px !important;" class="img-confirmar foto-regalo" alt="" />
</div>

