<link rel="stylesheet" href="../../css/regalo.css">
<style>
    body{
        /* UI Properties */
        background: var(--unnamed-color-ddccfb) 0% 0% no-repeat padding-box;
        background: #DDCCFB 0% 0% no-repeat padding-box;
        background-color: rgba(221, 204, 251, 0.25);
    }
</style>
<div class="top">
        <div>
            <div class="column">
                <h1 class="elegirfoto">Elegí la foto</h1>
                <h1 class="elegirfoto">desde tu computadora</h1>
            </div>
            <div>
                <button class="btn btn-elegirfoto">
                    <div class="img-content">
                        <img style="width: 39px;height: 35px;" class="img" src="/img/icon-foto.png" />
                        <p style="top: -9px;letter-spacing: 1.3px;" class="btn-text">ELEGIR FOTO</p>
                    </div>
                </button>
            </div>
        </div>
        <div class="spacing">
            <p>SI QUERÉS SACAR UNA FOTO SCANEÁ EL CÓDIGO QR DESDE TU CELULAR</p>
            <img class="img" src="/img/qr.png" />
        </div>
</div>

