<style>
    body {
        /* UI Properties */
        background: var(--unnamed-color-ddccfb) 0% 0% no-repeat padding-box;
        background: #DDCCFB 0% 0% no-repeat padding-box;
        background-color: rgba(221, 204, 251, 0.25);
    }
</style>
<div>
    <div class="top">
        <div class="column texto-sorpresa">
            <h1 style="top: 130px;" class="titulo-sorpresa regalo-titulo">Hola Fede,</h1>
            <h1 style="top: 115px;" class="titulo-sorpresa regalo-titulo">Martín tiene una sorpresa</h1>
            <h1 style="top: 95px;" class="titulo-sorpresa regalo-titulo">para vos!</h1>
        </div>
            <img src="/img/Regalos.png" style="width: 331px; height: 360px;  left: 10px" class="foto-regalo" alt="" />
            <img src="/img/amigos.png" style=" top: -360px; left: 427px; width: 623px; height: 440px;" class="foto-regalo" alt="" />
            <textarea class="rectangulo">Fede, 
felicitaciones por tus primeros 40 años.
Hasta los 120 amigo!!
            </textarea>
        <button class="btn-center btn color-white">COMPARTIR</button>
    </div>
</div>

