@{
    ViewData["Title"] = "Privacy Policy";
}
<link rel="stylesheet" href="../../css/regalo.css">
<style>
    body {
        /* UI Properties */
        background: var(--unnamed-color-ddccfb) 0% 0% no-repeat padding-box;
        background: #DDCCFB 0% 0% no-repeat padding-box;
        background-color: rgba(221, 204, 251, 0.25);
    }
</style>
<div>
    <div class="top">
        <div>
            <div class="column">
                <h1 class="elegirfoto">HO</h1>
                <h1 class="elegirfoto">MA</h1>
                <h1 class="elegirfoto">PA</h1>
            </div>
            <div>
                <div class="resaltar">
                    <img style="width: 449px;height: 440px;margin-top: 46px; margin-left: 51px;" class="img" src="/img/videosamigos.png" />
                    <textarea style="position: absolute;margin-top: -670px;margin-left: -590px;width: 513px;height: 330px;" class="rectangulo">Fede, 
felicitaciones por tus primeros 40 años.
Hasta los 120 amigo!!
                    </textarea>
                    <button style="align-content: center; display: inline-grid; width: 189px; height: 61px; font-size: 13px; top: 220px; left: 230px; letter-spacing: 1.3px; position: relative; " class="btn color-white">COMPARTIR</button>
                </div>
            </div>
        </div>
    </div>
</div>


