
<link rel="stylesheet" href="../../css/regalo.css">
<style>
    body {
        /* UI Properties */
        background: var(--unnamed-color-ddccfb) 0% 0% no-repeat padding-box;
        background: #DDCCFB 0% 0% no-repeat padding-box;
        background-color: rgba(221, 204, 251, 0.25);
    }
</style>
<div style="top: 140px;" class="row">
    <div class="center">
        <h1 class="center personalizar-titulo">Personalizá tu mensaje</h1>
        <div class="center">
            <input placeholder="De:" class="input-personalizar" />
            <input placeholder="Para:" class="input-personalizar" />
            <input placeholder="Mensaje (Opcional)" class="mensaje-opcional input-personalizar" />
        </div>
        <div class="confirm">
            <button class="textButton btn btn-white">CANCELAR</button>
            <button class="textButton btn color-white">CONFIRMAR</button>
        </div>
    </div>
</div>

