
        <div class="top">
            <h1 class="regalo-titulo">Elegí como querés acompañar a tu regalo!</h1>
            <div class="btn-regalo">
                <div class="btn btn-camera">
                    <img class="img-camera img" style="margin-top: -4px;" src="/img/icon-foto.png" />
                    
                    <div style="color:white" class="img-text">
                        FOTO
                    </div>
                </div>
               <div class="btn btn-space btn-camera">
                    <img class="img-video img " src="/img/icon-video.png" />
                    <div class="img-text">
                        VIDEO
                    </div>
               </div>
            </div>
        </div>
        <img src="/img/RegalosCustom.png" style="width: 380px;height: 450px;" class="foto-regalo2" alt="" />

