
<style>
    .der {
        float: right;
        text-align: center;
    }

    .asignar{
        width: 79px;
        height: 38px;
        font: inherit;
    }

    .colorLetra {
        color: white;
    }

    #mdialTamanioQR {
        width: 100% !important;
    }

    .progress {
        height: 35px;
        width: 100%;
        border: 1px solid #428bca;
        border-radius: 5px;
        background-color: #e6f3fa;
        margin-bottom: 15px;
    }

    .progress-bar {
        height: 100%;
        background: #428bca;
        display: flex;
        align-items: center;
        transition: width 0.25s;
        border-radius: 5px;
    }

    .progress-bar-text {
        margin-left: 10px;
        font-weight: bold;
        color: #cce7f5;
    }
</style>

<div>
    <center>
        <h1>
            Asignación De QR
        </h1>
        <div>
            <input class="form-control" style="border-radius:33px; text-align:center; width:35%" id="buscarNro" type="text" placeholder="Buscar...">
            <br>
        </div>
    </center>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Mail</th>
                <th scope="col">Nro Orden</th>
                <th scope="col">Asignar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mark</td>
                <td>Mark@gmail.com</td>
                <td>1</td>
                <td><button type="button" id="accion" onclick="asigno('');" class="btn btn-success colorLetra asignar">Asignar</button></td>
            </tr>
            <tr>
                <td>Jacob</td>
                <td>Jacob@gmail.com</td>
                <td>2</td>
                <td><button type="button" id="accion" onclick="asigno('');" class="btn btn-success colorLetra asignar">Asignar</button></td>
            </tr>
            <tr>
                <td>Larry</td>
                <td>Larry@gmail.com</td>
                <td>3</td>
                <td><button type="button" id="accion" onclick="asigno('');" class="btn btn-success colorLetra asignar">Asignar</button></td>
            </tr>
        </tbody>
    </table>
</div>



<script>

    document.addEventListener("DOMContentLoaded", () => {
        $("#buscarNro").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#TablaNro tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });


    function asigno(v) {
        $.ajax({
            url: "@(Url.Action("GeneroAsignacion", "Video"))",
            type: "POST",
            data: { linkey: $("#linkey").val(), valor: v },
            dataType: "json",
            traditional: true,
            success: function (data) {
                if (data.result == "Ok") {
                    Swal.fire({
                        title: "Bien", text: "Se cambio sin problemas", icon: "success"
                    });

                }
                else {
                    Swal.fire({
                        title: "Error", text: "Ocurrio un error al modificar el registro", icon: "error"
                    });

                }
            }

        });

    }

</script>