<style>
    body{
        overflow-x: hidden;
    }
</style>

<div id="page3">
    <div style="flex-direction: column;display: flex;align-items: center;">
        <img src="/img/RegalosCustom.png" style="width: auto;height: 235px" alt="" />
        <div style="margin-top:40px;align-self: center;">
            <p class="one-line">Elegí como</p>
            <p class="one-line">querés acompañar </p>
            <p class="one-line">a tu regalo!</p>
        </div>
        <div class="column">
            <div style="width: 174px;height: 54px;margin-top: 240px;display: block;" class="btn btn-camera">
                <label style=" margin-top: -10px;font-size: 16px;top: 20px;vertical-align: top;">
                    <input style="display:none;" id="foto" name="foto" type="file" class="file_multi_foto" onchange="previewFile()" accept="image/*" capture />

                    <img class="img-camera" style="width: 35px;height: 31px;margin-top: -4px;" src="/img/icon-foto.png" />

                    <div class="img-text img-button">
                        FOTO
                    </div>
                </label>
            </div>
            <div style="width: 174px;height: 54px;margin-top: 45px;" class="btn btn-camera">
                <label style="display: block;margin-top: -10px;font-size: 16px;top: 20px;vertical-align: top;">
                    <input style="display:none;" type="file" name="videoGrabado" id="videoGrabado" class="file_multi_video" accept="video/*" capture>
                    <img class="img-video img " src="/img/icon-video.png" style="width: 41px;height: 28px;margin-left: 10% !important;" />
                    <div class="img-text img-button">
                        VIDEO
                    </div>
                </label>
            </div>
        </div>
    </div>
</div>
<img class="logo" src="/img/dearx.png" style="width: 122px;height: 54px;position: absolute;bottom: 0;right: 0;" />
