<link rel="stylesheet" href="../../css/regalo.css">
<style>
    body{
        /* UI Properties */
        background: var(--unnamed-color-ddccfb) 0% 0% no-repeat padding-box;
        background: #DDCCFB 0% 0% no-repeat padding-box;
        background-color: rgba(221, 204, 251, 0.25);
        overflow-x:hidden;
    }
</style>


<div style="margin-top:200px;">
    <center>
        <h1>
            SI QUERÉS SACAR UNA FOTO SCANEÁ EL CÓDIGO QR DESDE TU CELULAR
        </h1>
        <div style="margin-top:200px;">
            <img class="img" src="/img/qr.png" style="width: 253px;height: 248px;" />
            <br>
        </div>
    </center>
</div>


