<style>
    body {
        overflow-x: hidden;
    }
</style>

<div style="margin-top:60px;align-self: center;">
    <img src="/img/fashionvideo.png" style="width: 356px;height: 574px;" class="center-img" alt="" />
    <div style="text-align: -webkit-center;" class="confirm">
        <button class="btn textButton btn-white">Cancelar</button>
        <button style="margin-left: 40px;" class="btn textButton color-white">Siguiente</button>
    </div>
    
    <img class="logo" src="/img/dearx.png" style="width: 122px;height: 54px;margin-right: 40px;margin-top: 60px;float: right;" />
</div>