
<div style="display:flex;flex-direction:row;margin-top:300px;justify-content: space-between;">
    <div class="flex-direction:row">

    </div>
        <div style="flex-direction:column">
            <img src="/img/RegalosCustom.png" style="width: 331px;height: 360px;left: -790px;top: -150px;" class="" alt="" />   
            <div style="margin-left: -270px;">
                <h1 style="top: 130px; font-size:39px" class="titulo-sorpresa ">Hola Fede,</h1>
                <h1 style="top: 115px; font-size:39px" class="titulo-sorpresa regalo-titulo">Martín tiene una sorpresa</h1>
                <h1 style="top: 95px; font-size:39px" class="titulo-sorpresa regalo-titulo">para vos!</h1>
        </div>
            @*<div style="display:flex;flex-direction:column;" class="texto-sorpresa">
                <h1 style="top: 130px; font-size:39px" class="titulo-sorpresa ">Hola Fede,</h1>
                <div class="textosorpresa">
                    <h1 style="top: 115px; font-size:39px" class="titulo-sorpresa regalo-titulo">Martín tiene una sorpresa</h1>
                    <h1 style="top: 95px; font-size:39px" class="titulo-sorpresa regalo-titulo">para vos!</h1>
                </div>
            </div>*@
        </div>
    <div style="flex-direction:column">
        <img src="/img/amigos.png" style="    top: -160px;left: -400px;width: 623px;height: 440px;" class="" alt="" />
        <textarea style="display: flex;flex: none;margin-left: -1020px;margin-top: 300px;" class="rectangulo">Fede, 
felicitaciones por tus primeros 40 años.
Hasta los 120 amigo!!
            </textarea>
        @*<div class="btn-center btn color-white">COMPARTIR</div>*@
    </div>
        

</div>

