<link rel="stylesheet" href="../../css/regalo.css">
<style>
    body{
        /* UI Properties */
        background: var(--unnamed-color-ddccfb) 0% 0% no-repeat padding-box;
        background: #DDCCFB 0% 0% no-repeat padding-box;
        background-color: rgba(221, 204, 251, 0.25);
    }
</style>
<div style="margin-top:316px;">
        <div>
            <div class="column">
                <h1 class="elegirfoto">Elegí la foto</h1>
                <h1 class="elegirfoto">desde tu computadora</h1>
            </div>
            <div>
            <div class="btn btn-elegirfoto" data-toggle="modal" data-target="modal" onclick="myFunction()">
                    <div class="img-content">
                        <img style="width: 39px;height: 35px;" class="img" src="/img/icon-foto.png" />
                        <p style="top: -9px;letter-spacing: 1.3px;" class="btn-text">ELEGIR FOTO</p>
                    </div>
                </div>
            </div>
        </div>
    <div class="spacing">
            <p>SI QUERÉS SACAR UNA FOTO SCANEÁ EL CÓDIGO QR DESDE TU CELULAR</p>
            <img class="img" src="/img/qr.png" />
    </div>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


