<style>
    body {
        overflow-x: hidden;
    }
</style>

<div style="margin-top:60px;flex-direction: column;display: flex;">
    <img src="/img/regalo3.png" style="width: 259px;height: 313px;" class="center-img" alt="" />
    <div style="margin-top:40px;align-self: center;">
        <p class="one-line">Listo!</p>
        <p class="one-line">Tu mensaje</p>
        <p class="one-line">ya esta confirmado.</p>
    </div>
    <img class="logo" src="/img/dearx.png" style="width: 122px;height: 54px;align-self: flex-end;margin-top: 330px;margin-right: 40px;" />
</div>