
<link rel="stylesheet" href="../../css/regalo.css">
<style>
    body {
        /* UI Properties */
        background: var(--unnamed-color-ddccfb) 0% 0% no-repeat padding-box;
        background: #DDCCFB 0% 0% no-repeat padding-box;
        background-color: rgba(221, 204, 251, 0.25);
    }
</style>
<div style="top: 540px;" class="row center-position">
    <div class="center">
        <h1 class="center personalizar-titulo">Personalizá tu mensaje</h1>
        <div class="center">
            <input placeholder="De:" class="input-personalizar" />
            <input placeholder="Para:" class="input-personalizar" />
            <textarea placeholder="Mensaje (Opcional)" style="resize:none; font-size: 17px;" cols="10" rows="3" class="mensaje-opcional input-personalizar"></textarea>
        </div>
        <div class="confirm">
            <button onclick="volverVista17()" style="line-height: 50px;" class="textButton btn btn-white">CANCELAR</button>
            <button onclick="ocultarVista20()" style="margin-left:20px;text-align: center !important;line-height: 53px;" class="textButton btn color-white">
                CONFIRMAR
            </button>
        </div>
    </div>
</div>
<img class="logo" src="/img/dearx.png" style="width: 122px;height: 54px;position: absolute;bottom: 0;right: 0;" />


