<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/js/sweetalert2.js"></script>
    <link rel="stylesheet" href="~/css/regalo.css">
</head>
<body>
    <input type="hidden" id="linkey" value="@ViewBag.linkey">
    <div style="display: flex;flex-direction: column;align-items: center;">
        <h1 style="font-size: 60px;font: normal normal bold 50px/62px Montserrat;height: 145px;">Escanea el QR!</h1>


        <img src="@ViewBag.linkey" width="250px" height="250px" />





    </div>



</body>


</html>
<script>




    document.addEventListener("DOMContentLoaded", function (event) {
        console.log('Listo');



    });





</script>

<style>


</style>